- hosts: localhost
  connection: local
  collections:
    - community.docker

  vars_files:
    - vars/main.yml
    
  vars:
    default_domain_name: 'example.com'
    db_root_password: 'root_password'
    
    ssl_csr_country_name: 'JP'
    ssl_csr_state_name: 'Osaka'
    ssl_csr_city_name: 'Example-city'
    ssl_csr_organization_name: 'Example Inc.'
    ssl_csr_common_name: '{{ default_domain_name }}'

    # Dockerホスト用ディレクトリ
    www_document_root: '/docker/public_html' # WWWドキュメントルート
    
    # サンプルプログラム用
    db_host: 'db'
    sample_db_name: 'my_database'
    sample_db_user: 'my_user'
    sample_db_password: 'my_password'

  roles:
    - geerlingguy.ntp
        
  pre_tasks:
    - selinux: state=disabled
      become: True
    - name: Remove Apache package
      dnf:
        name: httpd
        state: absent
    - name : Get SSH port
      shell: echo $(cat /etc/ssh/sshd_config | awk '/^Port/{ print $2 }')
      register: active_ssh_port
    - set_fact:
        ssh_port: "{{ active_ssh_port.stdout | default(ssh_default_port, true) }}"

  tasks:
    - name: Install minimal command
      dnf:
        name:
          - zip
          - unzip
          - net-tools
          - glibc-langpack-ja

    - name: Set locale
      shell: |
        localectl set-locale LANG=ja_JP.UTF-8
        localectl set-keymap jp106

    - name: Add Docker repository
      shell:
        cmd: 'dnf config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo'
    
    - name: Install Docker module
      dnf:
        name:
          - docker-ce
          - docker-ce-cli

    - name: Start Docker
      service:
        name: 'docker'
        state: started
        enabled: true

    - name: Install Docker compose
      shell:
        cmd: 'pip3 install docker-compose'

    #
    # WWW共通ディレクトリ作成
    #
    - name: Create www directory
      file: path='{{ www_document_root }}' state=directory owner=root group=root mode=0755

    #
    # MariaDB用設定ファイル作成
    #
    - name: Create MariaDB data directory
      file: path='/docker/mariadb/data' state=directory owner=root group=root mode=0755
    - name: Copy MariaDB conf file
      copy: src='./container/db/files/custom.cnf' dest='/docker/mariadb/custom.cnf' owner=root group=root mode=0644

    #
    # Nginx用設定ファイル作成
    #
    - name: Create Nginx conf directory
      file: path='/docker/nginx/conf.d' state=directory owner=root group=root mode=0755
    - name: Create multi domain site directory
      file: path='/docker/nginx/sites-available' state=directory owner=root group=root mode=0755
    - name: Copy nginx.conf
      copy: src='./container/nginx/files/nginx.conf' dest='/docker/nginx/nginx.conf' owner=root group=root mode=0644
    - name: Create default site configuration
      template: src='./container/nginx/templates/default.conf.j2' dest='/docker/nginx/conf.d/default.conf' owner=root group=root mode=0644
    - name: Configure Nginx log rotation
      copy: src="./container/nginx/files/logrotate_nginx" dest="/etc/logrotate.d/docker-nginx" owner=root group=root mode=0644

    #
    # PHP用設定ファイル作成
    #
    - name: Create PHP conf directory
      file: path='/docker/php' state=directory owner=root group=root mode=0755
    - name: Copy php.ini
      copy: src='./container/php/files/php.ini' dest='/docker/php/php.ini' owner=root group=root mode=0644
    - name: Create PHP-FPM conf directory
      file: path='/docker/php/php-fpm.d' state=directory owner=root group=root mode=0755
    - name: Create PHP-FPM configuration
      template: src='./container/php/templates/www.conf.j2' dest='/docker/php/php-fpm.d/www.conf' owner=root group=root mode=0644
    - name: Create sample PHP directory
      file: path='{{ www_document_root }}/_sample' state=directory owner=root group=root mode=0755

    - name: Copy sample PHP scripts
      template:
        src: "./container/php/templates/sample/{{ item }}.j2"
        dest: "{{ www_document_root }}/_sample/{{ item }}"
      with_items:
        - index.php
        - index2.php

    #
    # ネットワーク作成
    #
    - name: Create a network
      docker_network:
        name: local-network

    #
    # MariaDBコンテナ作成
    #
    - name: Create build directory
      file:
        path: './container/db/build'
        state: directory
        owner: "{{ ansible_ssh_user | default(ansible_env.SUDO_USER, true) | default(ansible_env.USER, true) | default(ansible_user_id) }}"
        group: "{{ ansible_ssh_user | default(ansible_env.SUDO_USER, true) | default(ansible_env.USER, true) | default(ansible_user_id) }}"
        mode: '0755'

    - name: Create Dockerfile
      template:
        src: './container/db/templates/Dockerfile.j2'
        dest: './container/db/build/Dockerfile'
        owner: "{{ ansible_ssh_user | default(ansible_env.SUDO_USER, true) | default(ansible_env.USER, true) | default(ansible_user_id) }}"
        group: "{{ ansible_ssh_user | default(ansible_env.SUDO_USER, true) | default(ansible_env.USER, true) | default(ansible_user_id) }}"
        mode: '0644'

    - name: Build MariaDB image and push
      docker_image:
        name: local/db
        build:
          path: './container/db/build'
        source: build

    - name: Create MariaDB container
      docker_container:
        name: db
        image: local/db
        recreate: yes
        state: started
        restart_policy: always
#        ports: 3306:3306
#        exposed_ports: 3306
        networks:
          - name: local-network
        env:
          MARIADB_ROOT_PASSWORD: '{{ db_root_password }}'
          MARIADB_DATABASE: '{{ sample_db_name }}'
          MARIADB_USER: '{{ sample_db_user }}'
          MARIADB_PASSWORD: '{{ sample_db_password }}'
          MARIADB_ROOT_HOST: '%'
        log_driver: journald
        log_options:
          tag: "{{ '{{' }}.ImageName{{ '}}' }}/{{ '{{' }}.Name{{ '}}' }}/{{ '{{' }}.ID{{ '}}' }}"
        volumes:
          - '/docker/mariadb/data:/var/lib/mysql'
          - '/docker/mariadb/custom.cnf:/etc/mysql/conf.d/custom.cnf:ro'
      
    #
    # PHPコンテナ作成
    #
    - name: Create build directory
      file:
        path: './container/php/build'
        state: directory
        owner: "{{ ansible_ssh_user | default(ansible_env.SUDO_USER, true) | default(ansible_env.USER, true) | default(ansible_user_id) }}"
        group: "{{ ansible_ssh_user | default(ansible_env.SUDO_USER, true) | default(ansible_env.USER, true) | default(ansible_user_id) }}"
        mode: '0755'

    - name: Create Dockerfile
      template:
        src: './container/php/templates/Dockerfile.j2'
        dest: './container/php/build/Dockerfile'
        owner: "{{ ansible_ssh_user | default(ansible_env.SUDO_USER, true) | default(ansible_env.USER, true) | default(ansible_user_id) }}"
        group: "{{ ansible_ssh_user | default(ansible_env.SUDO_USER, true) | default(ansible_env.USER, true) | default(ansible_user_id) }}"
        mode: '0644'

    - name: Build php image and push
      docker_image:
        name: local/php
        build:
          path: './container/php/build'
        source: build

    - name: Create php container
      docker_container:
        name: php
        image: local/php
        recreate: yes
        state: started
        restart_policy: always
#        ports: 9000:9000
#        exposed_ports: 9000
        networks:
          - name: local-network
        log_driver: journald
        log_options:
          tag: "{{ '{{' }}.ImageName{{ '}}' }}/{{ '{{' }}.Name{{ '}}' }}/{{ '{{' }}.ID{{ '}}' }}"
        volumes:
          - '{{ www_document_root }}:/var/www/html:ro'   # www directory
          - '/docker/php/php.ini:/usr/local/etc/php/conf.d/my.ini:ro'
          - '/docker/php/php-fpm.d/www.conf:/usr/local/etc/php-fpm.d/www.conf:ro'

    #
    # Nginxコンテナ作成
    #
    - name: Create build directory
      file:
        path: './container/nginx/build'
        state: directory
        owner: "{{ ansible_ssh_user | default(ansible_env.SUDO_USER, true) | default(ansible_env.USER, true) | default(ansible_user_id) }}"
        group: "{{ ansible_ssh_user | default(ansible_env.SUDO_USER, true) | default(ansible_env.USER, true) | default(ansible_user_id) }}"
        mode: '0755'

    - name: Create Dockerfile
      template:
        src: './container/nginx/templates/Dockerfile.j2'
        dest: './container/nginx/build/Dockerfile'
        owner: "{{ ansible_ssh_user | default(ansible_env.SUDO_USER, true) | default(ansible_env.USER, true) | default(ansible_user_id) }}"
        group: "{{ ansible_ssh_user | default(ansible_env.SUDO_USER, true) | default(ansible_env.USER, true) | default(ansible_user_id) }}"
        mode: '0644'

    - name: Build nginx image and push
      docker_image:
        name: local/nginx
        build:
          path: './container/nginx/build'
        source: build

    - name: Create nginx container
      docker_container:
        name: nginx
        image: local/nginx
        recreate: yes
        state: started
        restart_policy: always
        ports:
          - 80:80
          - 443:443
        # exposed_ports: 
        #   - "80"
        #   - "443"
        networks:
          - name: local-network
        log_driver: journald
        log_options:
          tag: "{{ '{{' }}.ImageName{{ '}}' }}/{{ '{{' }}.Name{{ '}}' }}/{{ '{{' }}.ID{{ '}}' }}"
        volumes:
          - '{{ www_document_root }}:/var/www/html:ro'   # www directory
          - '/docker/log/nginx:/var/log/nginx' # log directroy
          - '/docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro'
          - '/docker/nginx/conf.d:/etc/nginx/conf.d:ro'
          - '/docker/nginx/sites-available:/etc/nginx/sites-available:ro'

    #
    # ファイアウォールの設定
    #
    - name: Copy firewall configration file
      template: src=iptables.conf.j2 dest=/etc/sysconfig/iptables.conf
    - name: Create firewall
      template: src=iptables.service.j2 dest=/lib/systemd/system/iptables.service mode=644
    - name: Start firewall
      systemd:
        name: iptables
        state: restarted
        daemon_reload: yes
        enabled: yes

